<a name="sagenda"></a>
<app-root>Sagenda is loading...</app-root>
<script>
	window.sagendaIntegration = 'Drupal';
    window.sagendaDefaultView = '{{ data.defaultView }}';
    window.sagendaRemoveMonthViewButton = '{{ data.removeMonthViewButton }}';
    window.sagendaRemoveWeekViewButton = '{{ data.removeWeekViewButton }}';
    window.sagendaRemoveWorkWeekViewButton = '{{ data.removeWorkWeekViewButton }}';
    window.sagendaRemoveDayViewButton = '{{ data.removeDayViewButton }}';
    window.sagendaRemoveAgendaViewButton = '{{ data.removeAgendaViewButton }}';
    window.sagendaToken = '{{ data.token }}';
    window.sagendaWeekStartsOn = '{{ data.weekstartson }}';
    window.sagendaLanguageCultureShortName = '{{ data.language }}';
    window.sagendaDateFormat = '{{ data.date }}';
    window.sagendaTimeFormat = '{{ data.time }}';
    window.baseUrl = '{{ data.api_url }}';
    window.sagendaAngularPath = '{{ data.angular_path }}';
    //added this because of different scroll behaviour on Mac and Windows
	if(window.navigator.userAgent.indexOf("Mac") === -1){
		let link = document.createElement('link'); 
		link.rel = 'stylesheet';  
		link.href = '{{ data.angular_path }}scroll.css'; 
		document.getElementsByTagName("head")[0].appendChild(link);
	}
</script>
